truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

small-caps
  font-size $app-font-size-x-small
  font-weight $weight-medium
  text-transform uppercase
  letter-spacing .1em

