@import 'reset.styl'

space = 1rem
space-small = space / 2

tablet = 768px
desktop = 992px
desktop-large = 1382px

clearfix()
  &:after
    content: ""
    display: table
    clear: both
    
units(cols, grid = 12)
  (cols/grid) * 100%

.container
  padding space space 0
  background whitesmoke
  
.row
  clearfix()
  margin-left - space-small
  margin-right - space-small
  
.card
  min-height 10rem
  border 1px solid lightgray
  border-bottom-width 2px

.unit
  box-sizing border-box
  padding-left space-small
  padding-right space-small
  margin-bottom space
  width 50%
  float left
.easy-referral-list
  padding-left 20px

  
  @media only screen and (min-width: tablet)
    for $i in 1..12
      &.tablet-{$i}
        width ($i / 12) * 100%
  
  @media only screen and (min-width: desktop)
    for $i in 1..12
      &.desktop-{$i}
        width ($i / 12) * 100%
    &.small
      width: units(4)
    &.medium
      width: units(8)

  @media only screen and (min-width: desktop-large)
    for $i in 1..12
      &.desktop-large-{$i}
        width ($i / 12) * 100%
    &.medium
      width: units(6)
    &.large
      width: units(8)