@import reset
@import _vars
@import _extends
@import _typography
@import _table

html
  font-size $base * 1.1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility

  @media only screen and (min-width $desktop)
    font-size $base
  @media only screen and (min-width $desktop-large)
    font-size $base * 1.1

body
  color $text-color
  font-family $font-face
  font-size $app-font-size

clearfix()
  &:after
    content ""
    display table
    clear both
    
units(cols, grid = 12)
  (cols/grid) * 100%



// --------------------------

hgroup
  *
    margin-bottom $space

.site-header
  // background-image url(../images/209H.jpg)
  background-color #c74a5d
  background-position center
  background-size cover
  // color white
  color black
  text-align center

.trio
  .fa
    color $gray-30
    display block
    font-size 5rem
    margin-bottom $space
    text-align center

.guidelines
  // background-image url(../images/Mountain.jpg)
  background-size cover
  background-position center
  background-color #c74a5d
  color black
  font-size app-font-size

  h2
    margin (- $space) (- $space) $space
    line-height 5rem
    background rgba($app-black, .2)

.fine-print
  background $gray-10

  p
    font-size $app-font-size
    
a
  color #e87270

.header
  text-align: center;
  // background: #7fd0d9;
  color: black;
  padding: 30px 0;
  font-size: 28px;
  font-family: "Agenda", Helvetica,Arial, sans-serif;
.referral-guideline-header
  text-align center


.container, .wrapper
  padding $space
  font-weight 350
// Wrapper seems like it containing all the cards
// .wrapper
//   background-color blue
 

.list-section
  margin-left auto
  margin-right auto
  max-width $tablet

.easy
  max-width $tablet
  margin-left auto
  margin-right auto

.refer-a-friend
  color #4287C3

.payout-guidelines
  // position relative
  margin 0 auto

// -----TABLE FLIPS----------------------------
.card, .content
  display block
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
// .card
//   width 100%
//   height 100%
//   cursor pointer
//   position absolute
//   // background-color red
  


  


// GRID --------------------------
.row
  clearfix()
  // margin-left - $space-small
  // margin-right - $space-small
.unit
  // for flip animation, added relative position
  position relative
  //--------------------------------------------- 
  box-sizing border-box
  padding-left $space-small
  padding-right $space-small
  margin-bottom $space
  width 100%
  float left

  @media only screen and (min-width: $tablet)
    for $i in 1..$grid
      &.tablet-{$i}
        width units($i)
  
  @media only screen and (min-width: $desktop)
    for $i in 1..$grid
      &.desktop-{$i}
        width units($i)

  @media only screen and (min-width: $desktop-large)
    for $i in 1..$grid
      &.desktop-large-{$i}
        width units($i)
  /* responsive table */
  // @media only screen and (max-width: 480px)
  //   for $i in 1..$grid
  //     &.desktop-large-{$i}
  //       width units($i)
  //   table, tbody
  //     display block
  //     width 100%
  //   thead 
  //     display none
  //   table tr, table th, table td
  //     display block
  //     padding 0
  //     text-align left
  //     whitespace normal   
  //   table tr
  //     border-bottom black
  //     padding-bottom 11px
  //     margin-bottom 11px
  //   // table th[data-title]:before,
  //   table td[data-title]:before
  //     // content attr(data-title) 
  //     // ":\00A0"
  //     font-weight bold
  //   table td
  //     border-bottom: 1px solid red;
  //     // border none
  //     margin-bottom 6px
  //     color #333
  //   table td:empty 
  //     display none
  //   // table td:first-child
  //   //   font-size 14px
  //   //   font-weight bold
  //   //   margin-bottom 6px
  //   //   color #333
  //   // table td:first-child:before 
  //   //   content: ''
      
.modal
  display none
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  

// POPUP CONFIGURATION AND STYLING-------------------------------------------------------
.modal-content
  position absolute
  top 6rem
  left 50%
  width 40%
  transform translateX(-50%)
  height 47%
  padding $space
  // For background image, store file in an img folder or get img from inside rms
  // background: url(http://www.executive-i.com/picstore/hh/15_Risk%20Management%20Solutions%20jobs.jpg) no-repeat center
  background-color white
  text-align center
  box-shadow 0 $space-micro $space-micro rgba(black, .3)

  &.p 
    text-align center
  //Make pretty and make it animate in/out of view with css
    

// ANIMATIONS -----------------------------------------------------------------------------

.modal-content
  animation-name fadeIn
  animation-duration .5s

@keyframes fadeIn
  from
    opacity 0.5








