@import 'reset.styl'

body
  font-family Gotham
  // text-align center;
  padding 50px 20px 0;
  background #f4f4f7;
  color #444;
  margin 0px
  padding 0px

h1.heading
  text-align center
  position relative
  border 2px solid red
  text-shadow 4px 4px 4px black
  font-size 45px
  position relative
  line-height 1.2em
  padding 20px 20px
  color white
  
.header-container
  border 2px solid red
  background-color red
  margin-bottom 3rem
  
.main-container
  border 2px solid red
.sections-container
  padding-left 2rem
  padding-right 2rem

section.referral-reason
  h2
    margin-top 2rem
    margin-bottom 2rem
  // border 2px solid red
  p.a-players
    // border 2px solid red
    margin-top 2rem
    margin-bottom 2rem

section.qualification  
  h2
    margin-top 2rem
    margin-bottom 2rem
  ul
    list-style-type square
    margin-left 2rem

.bonus-structure
  margin-top 2rem
  margin-bottom 2rem


  
  
