doctype html
html(lang="en")
  head
    link(rel='StyleSheet', href='style.css', type='text/css', media='screen')
    title= Referrals
  body
    .main-container
      .header-container
         h1.heading RMS Employee Referral Program
      section.referral-reason
        p 
          |Want to work at one of the most influential risk management companies globally? You already do! A-players run with other A-players and crave a work environment where colleagues rise to challenges and value teamwork. Since RMS is overflowing with A-players, we know you know someone who is up for the challenge. Why not just tell us about them and the kind of work they do? We'll do the rest.
          |If you make a referral who gets hired, you will receive a referral bonus.
          |Log in to Jobvite, click on the “Refer a Friend” icon, and follow the instructions to submit the resume of the candidate you are referring.
          |Jobvite has some helpful features to enable you to find potential referrals within your network.  You can post RMS job opportunities to your LinkedIn, Facebook and Twitter via Jobvite Publisher. The instructions on how to do this can be found here.  Or search your LinkedIn connections via Jobvite Social Connections by following the steps included here.
          |If there is a fit for the role, the Talent Acquisition team commits to contacting each of the referred candidates within 5-7 business days from receiving the referral through Jobvite.
          |Referral Guidelines

      section.qualification
          | •	To qualify for a referral bonus, you must submit your referral via Jobvite to the particular role you believe he or she is a fit.
          | •	You are eligible for a referral bonus when you refer external candidates for full-time regular positions, and we are not already in contact with those candidates.
          | •	Interns and contract roles are not eligible for referral bonuses.
          | •	You are ineligible to receive a referral bonus if you are in a recruiter within Talent Acquisition, will be part of the interview team or hiring decision to fill the role, in the managerial chain for the role, a contractor with RMS, or a VP level or above within RMS.
          | •	Referrals can only be accepted within the country in which you work.
          | •	Ex-RMS employees are not eligible to be referred within 6 months of their leaving RMS.
      section.bonus-structure
          | Referral Bonus Structure
          | If the candidate you refer is hired as a full-time regular employee, you will receive a referral bonus of:
          | India	Bonus (local)*
          | M5 & Above	AGM & Above	₹ 35,000
          | M3-M4-P5	Manager / Senior Manager / Senior Principal Engineer	₹ 20,000
          | P2-P4	Engineer / Senior Engineer / Principal Engineer ; Senior Analyst / Project Lead / AM or Specialist / Deputy Manager ; Modeler / Senior & Lead Modeler / Principal Modeler	₹ 15,000
          | S1 - S4, P1	Junior Analyst / Assistant Analyst / Analyst / Associate Engineer	₹ 6,000
          | *less taxes
          | UK	Bonus (local)*
          | P3+	Software Development	£6,400.00
          | P2+	Experienced levels	£1,600.00
          | P1, S1-S4	Entry Level / Admin / Support	£955.00
          | *less taxes
          | US	Bonus (local)*
          | P3+	Software Development	$10,000
          | P2+	Experienced levels	$2,500
          | P1, S1-S4	Entry Level / Admin / Support	$1,500
          | *less taxes
          | Zurich	Bonus (local)*
          | P3+	Software Development	CHF 9,350
          | P2+	Experienced levels	CHF 2,350
          | P1, S1-S4	Entry Level / Admin / Support	CHF 1,400
          | *less taxes
          | Talent Acquisition will, from time to time, run “specials” for referral bonuses for hard to fill roles.  Bonuses will be paid after the completion of the new hire’s first 90 days. The referring employee as well as the referred employee must be employed at the time of the bonus payout in order to receive the payment.
          | Only one referral bonus can be given per candidate. If a candidate is referred by more than one employee, Talent Acquisition will decide who receives the referral bonus based on the date and time stamp of referral submission within Jobvite.
          | **If you are unable to log on to Jobvite, contact Donna Herndon for assistance.
