doctype html
html(lang="en")
  head
    link(rel='StyleSheet', href='Stylus/style.css', type='text/css', media='screen')
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  body
    .container
      .row
        .unit.medium
          .card
        .unit.medium
          .card
        .unit.medium
          .card
        .unit.medium
          .card
  