doctype html
html(lang="en")
  head
    link(rel='StyleSheet', href='Stylus/style.css', type='text/css', media='screen')
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  body
    .container
      .row
        .unit.large
          .card
            h1 RMS Header
      .row
        .unit.medium
          .card
              h2
                |Want to work at one of the most influential risk management companies globally? You already do!  

               p
                |A-players run with other A-players and crave a work environment where colleagues rise to challenges and value teamwork. Since RMS is overflowing with A-players, we know you know someone who is up for the challenge. Why not just tell us about them and the kind of work they do? We'll do the rest.
                |If you make a referral who gets hired, you will receive a referral bonus.
                |Log in to Jobvite, click on the “Refer a Friend” icon, and follow the instructions to submit the resume of the candidate you are referring.

              p.a-players
                |Jobvite has some helpful features to enable you to find potential referrals within your network.  You can post RMS job opportunities to your LinkedIn, Facebook and Twitter via Jobvite Publisher. The instructions on how to do this can be found here.  
                //- img(src="http://i.imgur.com/lf6341h.png" height = "400" width = "500")
                //- img(src="http://i.imgur.com/T7PD0SQ.png" height = "400" width = "500")
                //- Insert PPT pics
              p
                |Or search your LinkedIn connections via Jobvite Social Connections by following the steps included here.
                //- Insert PPT pics
                |If there is a fit for the role, the Talent Acquisition team commits to contacting each of the referred candidates within 5-7 business days from receiving the referral through Jobvite.
                |Referral Guidelines

              
        .unit.medium
          .card.tested
            figure
               img(src="http://rossvalleywellness.com/wp-content/uploads/2013/01/refer_a_friend.png")
            h2.referring-is-easy-header
              |Referring someone is easy!
             ol.easy-referral-list
               li
                  |Log in to Jobvite
               li
                  |Click on the "Refer a Friend" icon
               li
                  |Follow the instructions to submit the resume of the candidate you are referring.
            h2 Referral Guidelines
            ul
              li 
                |To qualify for a referral bonus, you must submit your referral via Jobvite to the particular role you believe he or she is a fit.
              li
                |You are eligible for a referral bonus when you refer external candidates for full-time regular positions, and we are not already in contact with those candidates. 
              li
                |Interns and contract roles are not eligible for referral bonuses. 
              li
                |You are ineligible to receive a referral bonus if you are in a recruiter within Talent Acquisition, will be part of the interview team or hiring decision to fill the role, in the managerial chain for the role, a contractor with RMS, or a VP level or above within RMS.
              li
                |Referrals can only be accepted within the country in which you work. 
              li
                |Ex-RMS employees are not eligible to be referred within 6 months of their leaving RMS. 

         .unit.medium
          .card
         
    
        .unit.medium
          .card
        .unit.medium
          .card

