html(lang="en")
  head
    link(rel='StyleSheet', href='Stylus/style.css', type='text/css', media='screen')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

  body
    header.container.site-header
      h1 RMS Employee Referral Program Header - Customize Later
      h2 Want to work at one of the most influential risk management companies globally? You already do!
      h3 Do you know someone who is up for the challenge? Tell us about them and the kind of work they do? We'll do the rest.
    section.container.trio
      .row
        .unit.desktop-4
          .fa.fa-money
          h2 Referring Someone Is Easy!
          p.jobvite
            | Log in to <a href="https://hire.jobvite.com/Login/jvLogin.aspx?role=em">Jobvite</a>, click on  <a href="https://hire.jobvite.com/Hiring/Candidate.aspx?o=38"><strong>+</strong> Refer-a-friend</a>. Follow the instructions to submit the resume of the candidate you are referring.
        .unit.desktop-4
          .fa.fa-connectdevelop
          h2 Share With Your Social Connections
          p
            | Post RMS job opportunities to your LinkedIn, Facebook and Twitter via Jobvite Publisher. The instructions on how to do this can be found <a href="javascript:popup();">here.</a>
        .unit.desktop-4
          .fa.fa-linkedin
          h2 Search For Your Social Connections
          p.jobvite
            | Search your LinkedIn connections via Jobvite Social Connections by following the steps included <a href="javascript:popup2();">here.</a>
      p(style="text-align: center;") If there is a fit for the role, the Talent Acquisition team commits to contacting the referred candidate within 5-7 business days from receiving the referral through Jobvite.
    section.container.guidelines
      h2.referral-guideline-header
        | Referral Eligibility
      .row
        .unit
          .list-section
            ul.qualification-list
              li To qualify for a referral bonus, you must submit your referral via Jobvite for a specific role.
              li Referrals must be external candidates for full-time regular positions who we are not already in contact with.
              li Interns and contract roles are not eligible for referral bonuses.
              li You are not eligible for a referral bonus if you are a recruiter or if you play a direct role in the interviewing and/or hiring decision to fill the position; RMS Contractors; or VP levels and above within RMS.
              li Referrals can only be accepted within the country in which you work.
              li Former RMS employees are not eligible to be referred within 6 months of their leaving RMS.
      //- .easy
        .unit.desktop-8
          figure
            img(src="http://www.regencyinsurance.net/img/~www.regencyinsurance.net/iStock_000005177840Small_thumb.jpg", height='250', width='250')
    section.container
      .row
        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th India
                th Bonus(local)
            tbody
              tr
                td(data-title="Job") M5+
                td(data-title="Position") AGM & Above
                td(data-title="Bonus") ₹ 35,000
              tr
                td(data-title="Job Grade") M3-M5-P5
                td(data-title="Position") Manager / Senior Manager / Senior Principal Engineer
                td(data-title="Bonus(Local)") ₹ 20,000
              tr
                td(data-title="Job Grade") P2-P4
                td(data-title="Position") Engineer / Senior Engineer / Principal Engineer / Senior Analyst / Project Lead / AM or Specialist / Deputy Manager / Modeler / Senior & Lead Modeler / Principal Modeler
                td(data-title="Bonus(Local)") ₹ 15,000
              tr
                td S1 - S4, P1
                td Junior Analyst / Assistant Analyst / Analyst / Associate Engineer
                td ₹ 6,000
              tr
                td.taxes *Bonus will be taxed as regular income. They are not grossed up.


        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th UK
                th Bonus(local)
            tbody
              tr
                td P3+
                td Software Development
                td £6,400.00
              tr
                td(data-title="Job Grade") P2+
                td(data-title="Position")  Experienced levels
                td(data-title="Bonus(Local)")£1,600.00
              tr
                td(data-title="Job Grade") P1, S1-S4
                td(data-title="Position") Entry Level / Admin / Support
                td(data-title="Bonus(Local)") £955.00
              tr
                td.taxes *Bonus will be taxed as regular income. They are not grossed up.
      .row
        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th US
                th Bonus(local)
            tbody
            tr
              td(data-title="Job Grade") P3+
              td(data-title="Position") Software Development
              td(data-title="Bonus(Local)") $10,000
            tr
              td(data-title="Job Grade") P2+
              td(data-title="Position") Experienced levels
              td(data-title="Bonus(Local)") $2,500
            tr
              td(data-title="Job Grade") P1, S1-S4
              td(data-title="Position") Entry Level / Admin / Support
              td(data-title="Bonus(Local)") $1,500
            tr
              td.taxes *Bonus will be taxed as regular income. They are not grossed up.



        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th Zurich
                th Bonus(local)
            tbody
            tr
              td(data-title="Job Grade") P3+
              td(data-title="Position") Software Development
              td(data-title="Bonus(Local)") CHF 9,350
            tr
              td(data-title="Job Grade") P2+
              td(data-title="Position") Experienced levels
              td(data-title="Bonus(Local)") CHF 2,350
            tr
              td(data-title="Job Grade") P1, S1-S4
              td(data-title="Position") Entry Level / Admin / Support
              td(data-title="Bonus(Local)") CHF 1,400
            tr
              td.taxes *Bonus will be taxed as regular income. They are not grossed up.
    section.header.container.fine-print
          h2 Referral Payout Guidelines
          p 
            |Talent Acquisition will, from time to time, run “specials” for referral bonuses for hard to fill roles.  Bonuses are paid after the new hire completes 90 days of employment with RMS. Both the referring employee and referred employee must be employed at the time of the bonus payout in order to receive the payment. 
            |There is only one referral bonus per candidate. If a candidate is referred by more than one employee, Talent Acquisition will decide who receives the referral bonus based on the date and time stamp of referral submission within Jobvite.
            //- add in Donna's email -> 
          p If you are unable to log on to Jobvite, contact <a href="mailto:Donna.Herndon@rms.com">Donna Herndon</a> for assistance.

script(src = 'js/app.js')