html(lang="en")
  head
    link(rel='StyleSheet', href='Stylus/style.css', type='text/css', media='screen')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

  body
    header.container.site-header
      h1 RMS Employee Referral Program Header - Customize Later
      h2 Want to work at one of the most influential risk management companies globally? You already do!
      h3 Do you know someone who is up for the challenge? Tell us about them and the kind of work they do? We'll do the rest.
    section.container.trio
      .row
        .unit.desktop-4
          .fa.fa-connectdevelop
          h2 Helpful Jobvite features to find potential referrals within your network.
          p If there is a fit for the role, the Talent Acquisition team commits to contacting the referred candidate within 5-7 business days from receiving the referral through Jobvite.
        .unit.desktop-4
          .fa.fa-linkedin
          h2 Share with Your Social Connections
          p
            | Post RMS job opportunities to your LinkedIn, Facebook and Twitter via Jobvite Publisher. The instructions on how to do this can be found <a href="javascript:popup();">here.</a>
            | Or search your LinkedIn connections via Jobvite Social Connections by following the steps included <a href="javascript:popup2();">here.</a>
        .unit.desktop-4
          .fa.fa-dollar
          h2 Referring someone is easy!
          p.jobvite
            | Log in to Jobvite, click on  <a href="javascript:popup3();" class="refer-a-friend"><strong>+</strong> Refer-a-friend</a>. Follow the instructions to submit the resume of the candidate you are referring.
    section.container.guidelines
      h2.referral-guideline-header
        | Referral Eligibility
      .row
        .unit
          .list-section
            ul.qualification-list
              li To qualify for a referral bonus, you must submit your referral via Jobvite for a specific role.
              li Referrals must be external candidates for full-time regular positions who we are not already in contact with.
              li Interns and contract roles are not eligible for referral bonuses.
              li You cannot receive a referral bonus if you are in a recruiter within Talent Acquisition, will be part of the interview team or hiring decision to fill the role, in the managerial chain for the role, a contractor with RMS, or a VP level or above within RMS.
              li Referrals can only be accepted within the country in which you work.
              li Ex-RMS employees are not eligible to be referred within 6 months of their leaving RMS.
      //- .easy
        .unit.desktop-8
          figure
            img(src="http://www.regencyinsurance.net/img/~www.regencyinsurance.net/iStock_000005177840Small_thumb.jpg", height='250', width='250')
    section.container
      .row
        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th India
                th Bonus(local)
            tbody
              tr
                td M5 & Above
                td AGM & Above
                td ₹ 35,000
              tr
                td M3-M5-P5
                td Manager / Senior Manager / Senior Principal Engineer
                td ₹ 20,000
              tr
                td P2-P4
                td Engineer / Senior Engineer / Principal Engineer ; Senior Analyst / Project Lead / AM or Specialist / Deputy Manager ; Modeler / Senior & Lead Modeler / Principal Modeler
                td ₹ 15,000
              tr
                td S1 - S4, P1
                td Junior Analyst / Assistant Analyst / Analyst / Associate Engineer
                td ₹ 6,000

        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th UK
                th Bonus(local)
            tbody
              tr
                td P3+
                td Software Development
                td £6,400.00
              tr
                td P2+
                td Experienced levels
                td £1,600.00
              tr
                td P1, S1-S4
                td Entry Level / Admin / Support
                td £955.00

      .row
        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th US
                th Bonus(local)
            tbody
            tr
              td P3+
              td Software Development
              td $10,000
            tr
              td P2+
              td Experienced levels
              td $2,500
            tr
              td P1, S1-S4
              td Entry Level / Admin / Support
              td $1,500

        .unit.desktop-6
          table.bordered
            thead
              tr
                th Job Grade
                th Zurich
                th Bonus(local)
            tbody
            tr
              td P3+
              td Software Development
              td CHF 9,350
            tr
              td P2+
              td Experienced levels
              td CHF 2,350
            tr
              td P1, S1-S4
              td Entry Level / Admin / Support
              td CHF 1,400

    section.container.fine-print
      .row
        .unit.desktop-8
          h2 Referral Payout Guidelines
          p
            |Talent Acquisition will, from time to time, run “specials” for referral bonuses for hard to fill roles.  Bonuses are paid after the new hire completes 90 days of employment with RMS. Both the referring employee and referred employee must be employed at the time of the bonus payout in order to receive the payment. 
            |There is only one referral bonus per candidate. If a candidate is referred by more than one employee, Talent Acquisition will decide who receives the referral bonus based on the date and time stamp of referral submission within Jobvite.
            |If you are unable to log on to Jobvite, contact Donna Herndon for assistance.

//- Footer


script(src = 'js/app.js')